*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

[src^="ASSETS/icons"] {
    height: 20px;
    margin: 0 5px;
}

a {
    text-decoration: none;
    color: #000;
}

/*---------------------------*/
/*----------HEADER-----------*/
/*---------------------------*/

/* Pour fixer la navbar, il faut appliquer position fixed ainsi qu'une largeur de 100%*/

.flex-navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 2.7em;
    align-items: center;
    border-bottom: 1px solid lightgray;
    background-color: #fff;
}

.nav-left,
.nav-left :nth-child(2),
.nav-right,
.nav-right :first-child {
    margin: 0 1em;
}

.nav-left img,
.nav-left p,
.nav-center img,
.nav-right button {
    cursor: pointer;
}

.nav-left {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: .9rem;
}

.nav-center img {
    margin-top: .2em;
}

.nav-right button {
    border-radius: 3px;
    height: 2.5em;
    font-size: .7rem;
    line-height: 11px;
    font-weight: bold;
    background-color: #567b95;
    border: 1px solid #326891;
    color: #fff;
}

/*---------------------------*/
/*-----------MAIN------------*/
/*---------------------------*/

.main-grid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-auto-rows: auto;
    row-gap: 20px;
    column-gap: 10px;
}

.main-grid h1 {
    grid-column: 6 / 16;
    grid-auto-rows: auto;
    margin-top: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    font-style: italic;
}

.main-grid .hero-img {
    grid-column: 4 / 22;
    grid-auto-rows: auto;
}

.main-grid [src^="ASSETS/img/hero-img.jpg"] {
    max-width: 1000px;
    text-align: center;
}

.main-grid .hero-img-legend {
    width: 700px;
    color: rgb(83, 80, 80);
}

.main-grid h3 {
    grid-row: 3;
    grid-column: 7 / 19;
    margin-top: 30px;
    font-weight: bold;
}

.social {
    grid-row: 4;
    grid-column: 7 / 19;
    display: flex;
    justify-content: space-between;
}

.full-text {
    grid-column: 7 / 19;
    font-size: 1.4rem;
    line-height: 1.4em;
    color: rgb(39, 37, 37);
}

.text1 {
    grid-row: 5;
}

.text2 {
    grid-row: 6;
}

.aside {
    grid-row: 6;
    grid-column: 20 / 24;
}

.aside img {
    margin-right: 10px;
    width: 70px;
    height: 70px;
}

.aside-text {
    display: flex;
    margin-bottom: 10px;
}

/*-------------------------------------------*/
/*-------"The Theory of Inflation"-----------*/
/*-------------------------------------------*/

.full-dev {
    grid-row: 7;
    grid-column: 4 / 23;
    color: rgb(58, 55, 55);
}

.full-dev-flex {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    align-items: baseline;
}

.full-dev-flex figure {
    flex: 1 1 24%;
    margin: 5px;
}

.full-dev-flex img {
    width: 200px;
}

.full-dev-flex span,
.full-dev h2 {
    font-weight: bold;
}

.full-dev-flex span {
    font-size: .8rem;
}

/*-------------------------------------------*/
/*----- End of"The Theory of Inflation" -----*/
/*-------------------------------------------*/

.text3 {
    grid-row: 8;
}

iframe {
    grid-row: 9;
    grid-column: 7 / 19;
}

.text4 {
    grid-row: 10;
    grid-column: 7 / 19;
}

.text5 {
    grid-row: 11;
}

/*-------------------------------------------*/
/*---------------- Pic - 2 ------------------*/
/*-------------------------------------------*/

.pic-2 {
    grid-row: 12;
    grid-column: 7 / 19;
}

/*-------------------------------------------*/
/*------------------ text6 ------------------*/
/*-------------------------------------------*/

.text6 {
    grid-row: 13;
}

/*-------------------------------------------*/
/*------- More in Space and Astronomy -------*/
/*-------------------------------------------*/

.more {
    grid-row: 14;
    grid-column: 2 / 18;    
    font-weight: bold;
}

.more-flex {
    display: flex;
    flex-wrap: wrap;
}

.more-flex figure {
    flex: 1 1 30%;
    margin: 5px;
}

.more-flex img {
    width: 230px;
}

.more-flex figcaption {
    max-width: 230px;
    font-size: .9rem;
}

/*-------------------------------------------*/
/*--------------Editor's Pick----------------*/
/*-------------------------------------------*/

.pick {
    grid-row: 15;
    grid-column: 2 / 18;    
    font-weight: bold;
    margin-bottom: 1em;
}

.pick-flex {
    display: flex;
    flex-wrap: wrap;
}

.pick-flex figure {
    flex: 1 1 30%;
    margin: 5px;
}

.pick-flex img {
    width: 230px;
}

.pick-flex figcaption {
    max-width: 230px;
    font-size: .9rem;
}

/*-------------------------------------------*/
/*------------- Aside popular----------------*/
/*-------------------------------------------*/

.aside-popular {
    grid-row: 14 / 16;
    grid-column: 19 / 24;
    font-size: 1.1rem;
}

.aside-popular h2 {
    font-weight: bold;
    font-size: 1rem;
}

/*-------------------------------------------*/
/*----------------- Footer ------------------*/
/*-------------------------------------------*/

.footer-grid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-auto-rows: auto;
    row-gap: 20px;
    column-gap: 10px;
}

.footer-container {
    grid-row: 1;
    grid-column: 2 / 24;
}

.footer-title img {
    margin-top: 1em;
}

.footer-links {
    display: flex;
    margin-top: 1em;
}

.footer-links-section {
    flex: 1 1 15%;
}

.footer-links-section h3 {
    font-weight: bold;
    margin-bottom: .5em;
}

.footer-links-section li {
    line-height: 1.8em;
    font-size: .9rem;
}

.footer-copyrights {
    grid-row: 2;
    grid-column: 5 / 22;
    margin-bottom: 1em;
}

.copyright-links {
    display: flex;
    flex-direction: row;
    font-size: .7rem;
}

.copyright-links li {
    margin: 0 .3em;
}